name: Other Linux distributions

on: push

jobs:
  arch:
    runs-on: ubuntu-24.04
    container: 'archlinux:latest'
    steps:
      - name: Install and prepare Git
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm git
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Git checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install packages
        run: |
          pacman -S --noconfirm catch2 cmake curl gcc make mariadb-lts-libs pkgconf
      - name: Build
        run: |
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          cmake ../
          cmake --build . -j4
      - name: Start local httpbin instance for tests
        run: |
          pacman -S --noconfirm gunicorn httpbin net-tools
          gunicorn --bind=127.0.0.1:8080 httpbin:app --daemon
          while ! netstat -tna | grep LISTEN | grep --silent 8080
          do
              echo Waiting for httpbin server to start ...
              sleep 5
          done
      - name: Run tests
        run: |
          unset GITHUB_ACTIONS
          cd "$GITHUB_WORKSPACE/build"
          export USE_LOCAL_HTTPBIN=1
          ctest -V

  fedora:
    runs-on: ubuntu-24.04
    container: 'fedora:43'
    steps:
      - name: Install and prepare Git
        run: |
          yum update -y
          yum install -y git
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Git checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install packages
        run: |
          yum install -y catch-devel cmake gcc-c++ libcurl-devel make mariadb-connector-c-devel pkgconf
      - name: Build
        run: |
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          export GIT_DISCOVERY_ACROSS_FILESYSTEM=1
          cmake ../
          cmake --build . -j4
      - name: Start local httpbin instance for tests
        run: |
          yum install -y python3-gunicorn python3-httpbin net-tools
          gunicorn --bind=127.0.0.1:8080 httpbin:app --daemon
          while ! netstat -tna | grep LISTEN | grep --silent 8080
          do
              echo Waiting for httpbin server to start ...
              sleep 5
          done
      - name: Run tests
        run: |
          unset GITHUB_ACTIONS
          cd "$GITHUB_WORKSPACE/build"
          export USE_LOCAL_HTTPBIN=1
          ctest -V

  opensuse:
    runs-on: ubuntu-24.04
    container: 'opensuse/leap:15'
    steps:
      - name: Install and prepare Git
        run: |
          zypper update -y
          zypper install -y git
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Git checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install packages
        run: |
          zypper install -y Catch2-devel cmake gcc12-c++ libcurl-devel libmariadb-devel make pkgconf
      - name: Build
        run: |
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          export CXX=g++-12
          export CC=gcc-12
          cmake ../
          cmake --build . -j4
      - name: Run tests
        run: |
          unset GITHUB_ACTIONS
          cd "$GITHUB_WORKSPACE/build"
          ctest -V

  void:
    runs-on: ubuntu-24.04
    container: 'ghcr.io/void-linux/void-musl'
    steps:
      - name: Install and prepare Git
        run: |
          xbps-install -Su -y || xbps-install -u xbps -y && xbps-install -Su -y
          xbps-install -y git
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # Checks-out the repository under $GITHUB_WORKSPACE.
      # Unfortunately, the actions/checkout action does not work on Void Linux,
      # so we have do a manual checkout to the proper directory.
      - name: Git checkout
        run: |
          git init "$GITHUB_WORKSPACE"
          cd "$GITHUB_WORKSPACE"
          git remote add origin "https://github.com/${GITHUB_REPOSITORY}.git"
          git fetch --tags origin
          git checkout --progress --force "$GITHUB_SHA"
          # show the last commit log
          git log -1
      - name: Install packages
        run: |
          xbps-install -y catch2 cmake gcc libcurl-devel libmariadbclient-devel make mariadb pkg-config
      - name: Build
        run: |
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          cmake ../
          cmake --build . -j4
      - name: Start local httpbin instance for tests
        run: |
          xbps-install -y python3-httpbin python3-hypercorn net-tools
          hypercorn -b 127.0.0.1:8080 httpbin:app &
          while ! netstat -tna | grep LISTEN | grep --silent 8080
          do
              echo Waiting for httpbin server to start ...
              sleep 5
          done
      - name: Run tests
        run: |
          unset GITHUB_ACTIONS
          cd "$GITHUB_WORKSPACE/build"
          export USE_LOCAL_HTTPBIN=1
          ctest -V
